.page {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 40px;
  justify-content: center;
  font-family: var(--main-font), monospace, sans-serif;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: var(--indent);
  grid-template-columns: auto;
  grid-template-rows: min-content 1fr min-content 1fr;
  font-weight: 700;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  inline-size: 25.04px;
  block-size: 25px;
  content: "";
  border: 1px solid var(--border-color);
}

.decorated-zone::before {
  position: absolute;
  inset-block-start: var(--indent);
  inset-inline-end: var(--indent);
  border-inline-start: transparent;
  border-block-end: transparent;
}

.decorated-zone::after {
  position: absolute;
  inset-block-end: var(--indent);
  inset-inline-start: var(--indent);
  border-block-start: transparent;
  border-inline-end: transparent;
}

.header__decorative-signature {
  margin: 0;
}

.header__decorative-signature::before {
  content: "REC";
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--base-fs);
  line-height: 1.39;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: var(--indent);
  display: var(--display-none);
}

.header__decorative-signature::after {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 18px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  display: var(--display-none);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: inherit;
  text-transform: lowercase;
  border: none;
  inline-size: 70px;
  min-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: var(--base-fs);
  line-height: 1;
  padding: 0;
  color: var(--border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header__title {
  color: var(--logo-color);
  font-size: var(--logo-size);
  line-height: .825;
  text-shadow: 4px 4px 0 var(--logo-shadow);
  align-self: start;
}

.header__subtitle {
  font-size: var(--base-fs);
  line-height: 1.3;
  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  align-self: center;
}

.title-decor {
  font-size: var(--base-fs);
  line-height: 1.3;
  background-color: var(--accent-color);
  font-weight: 700;
}

.main {
  margin: 0;
  display: grid;
  gap: 50px;
  margin-inline-start: var(--indent);
  margin-inline-end: var(--indent);
}

.notes {
  display: grid;
  gap: 20px;
}

.notes__title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: var(--base-fs);
  line-height: 1.3;
}

.notes__subtitle {
  color: var(--title-color);
}

.notes__list {
  display: grid;
  gap: 20px;
}

.notes__item {
  display: grid;
  gap: 10px;
}

.notes__item-title {
  color: var(--title-color);
}

.notes__item-text {
  font-weight: 400;
  font-size: var(--base-fs);
  line-height: 1.3;
  color: var(--text-color);
}

.notes__item-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.notes__item-link:focus {
  outline: none;
}

.notes__item-link:hover {
  display: inline-block;
  text-decoration: none;
  border-block-end: 1px solid var(--text-color); 
}

.notes__item-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.notes__advice {
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 20px;
}

.notes__advice .notes__item-title {
  font-weight: 400;
}

.images{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.image__title {
  color: var(--title-color);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  padding: var(--indent);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--logo-color);
  font-size: var(--logo-size);
  line-height: .825;
  text-shadow: 2px 2px 0 var(--logo-shadow);
  font-weight: 700;
}

@media(min-width: 768px) {
  .page {
    gap: 60px;
  }

  .header {
    min-height: 1024px;
  }

  .header__decorative-signature::before {
    inset-inline-end: 48px;
  }
  
  .header__decorative-signature::after {
    inset-inline-end: 30px;
    inset-block-start: 28px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__subtitle {
    max-width: 364px;
    justify-self: end;
  }

  .main {
    gap: 80px;
  }

  .notes {
    grid-template-columns:  auto auto;
    column-gap: 20px;
  }

  .notes__title {
    max-width: 236px;
  }

  .notes__subtitle {
    align-self: start;
    font-weight: 700;
  }

  .notes__list {
    align-self: start;
  }

  .notes_cards {
    grid-template-columns: auto;
    gap: 20px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image__title {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
  }

  picture:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  picture:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  picture:nth-child(4) {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  picture:nth-child(6) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer {
    min-height: 1024px;
  }
}

@media(min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: auto auto auto;
  }

  .header__subtitle {
    max-width: 491px;
  }

  .main {
    gap: 80px;
  }

  .notes__title {
    max-width: 314.96px;
  }

  .notes_cards .notes__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .notes_cards .notes__item {
    grid-template-rows: min-content 1fr;  
  }

  .footer {
    min-height: 768px;
  }
}